// Theme Colors
$body-color 		    : #f8f9fa;
$theme-color 			: #1a73e8;
$theme-color-alt 		: #174ea6;

// General Colors
$color-trans 			: transparent;

// Text Colors
$text-color 			: #3c4043;
$text-color-alt 		: #202124;